<noscript>
  <style>
    .js-disabled {
      display: block;
      position: static;
      opacity: 1;
      width: 100%;
      z-index: 1;
    }
  </style>
</noscript>
<div class="bg-white shadow-md max-w-sm p-8 space-y-6 rounded-lg mx-auto <%= it.method !== "dialog" ? "mt-24" : ""%>">
  <h2 class="font-bold text-lg text-center">Create board</h2>
  <form action="/boards" method="post" class="js-create-board-form" enctype="multipart/form-data">
    <img alt="" class="h-40 w-full object-cover rounded-md hidden js-image-viewer mb-4">
    <fieldset class="space-y-4">
      <input name="title" type="text" class="input text-input" placeholder="Board title" required/>
      <menu>
        <input id="board-cover" type="file" class="file-input js-file-upload js-disabled mb-2 peer" accept="image/*" name="cover" required>
        <label for="board-cover" class="file-input-label max-w-[48%] w-full">Board cover</label>
        <select name="visibility" id="" class="input ml-2 max-w-[48%]" required>
          <option value="PRIVATE" selected>Private</option>
          <option value="PUBLIC">Public</option>
        </select>
      </menu>
      <menu class="flex space-x-2 justify-end">
        <% if (it.method === "dialog") {%>
        <button class="btn btn-text js-create-board-dialog-close" type="button">Cancel</button>
        <% } %>
        <button class="btn btn-primary" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          <span>Create</span>
        </button>
      </menu>
    </fieldset>
  </form>
</div>
