<div class="bg-white shadow-md max-w-sm p-8 space-y-6 rounded-lg mx-auto <%= it.method !== "dialog" ? "mt-24" : ""%>">
  <h2 class="font-bold text-lg text-center">Create board</h2>
  <form action="/boards" method="<%= it.method %>" class="js-create-board-form">
    <fieldset class="space-y-4">
      <input name="title" type="text" class="input" placeholder="Board title" />
      <textarea
        name="description"
        rows="3"
        class="input"
        placeholder="Board description"
      ></textarea>
      <menu class="flex space-x-2 justify-end">
        <% if (it.method === "dialog") {%>
        <button class="btn-text js-create-board-dialog-close" type="button">Cancel</button>
        <% } %>
        <button class="btn-primary" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          <span>Create</span>
        </button>
      </menu>
    </fieldset>
  </form>
</div>
