<% layout('./layout.html', { title: it.board.title, board: it.board, user: it.user }) %>
<div class="px-6 py-8 min-h-header">
  <div class="flex items-center space-x-4">
    <form method="post" id="change-board-visibility-form">
      <select name="visibility" id="" class="input" required>
        <option value="PRIVATE" <%= it.board.visibility === "PRIVATE" ? "selected" : ""%>>Private</option>
        <option value="PUBLIC" <%= it.board.visibility === "PUBLIC" ? "selected" : ""%>>Public</option>
      </select>
    </form>
    <% if (it.board.members.length) {%>
    <ul class="flex"></ul>
    <% } %>
    <noscript>
        <style>
          .js-enabled {
            display: none;
          }
        </style>
        <a href="/boards/<%= it.board.id %>/invitations/new" class="btn btn-primary !px-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
        </a>
      </noscript>
      <button class="btn btn-primary !px-3 js-invite-member js-enabled" title="Add member">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 flex-shrink-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    <noscript>
      <button form="change-board-visibility-form" class="btn btn-primary">Save</button>
    </noscript>
  </div>
  <div class="flex space-x-4 bg-slate-50 rounded-2xl w-full mt-4 min-h-header">
    <%~ includeFile('../list/lists.html', it) %>
  </div>
  <dialog
    class="js-invitation-dialog bg-white shadow-md max-w-sm rounded-lg w-full open:animate-dialog-reveal p-0"
  >
    <%~ includeFile("../invitation/new-invitation.html", Object.assign(it, { method: "dialog" }) ) %>
  </dialog>
</div>

<script defer async type="module" src="/public/js/single-board.js"></script>
<script defer async type="module" src="/public/js/list-item.js"></script>
<script defer async type="module" src="/public/js/elastic-textarea.js"></script>