<% layout('./layout.html', { title: it.board.title, board: it.board, user: it.user }) %>
<div class="px-6 py-8 h-full">
  <div class="flex space-x-4">
    <form method="post" id="change-board-visibility-form">
      <select name="visibility" id="" class="select" required>
        <option value="PRIVATE" <%= it.board.visibility === "PRIVATE" ? "selected" : ""%>>Private</option>
        <option value="PUBLIC" <%= it.board.visibility === "PUBLIC" ? "selected" : ""%>>Public</option>
      </select>
    </form>
    <% if (it.board.members.length) {%>
    <ul class="flex"></ul>
    <% } %>
    <noscript>
      <button form="change-board-visibility-form" class="btn-primary">Save</button>
    </noscript>
  </div>
  <div class="flex space-x-4 bg-slate-100 rounded-2xl w-full mt-4 h-full">
    <%~ includeFile('../list/lists.html', { board: it.board }) %>
  </div>
</div>
