<div class="w-full flex-shrink-0 basis-64 rounded-lg">
  <li
    class="block rounded-lg js-list-card bg-slate-50"
    draggable="true"
    data-list_id="<%= it.list.id %>"
  >
    <div class="flex justify-between mb-4">
      <span> <%= it.list.title %> </span>
      <details class="relative">
        <summary class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            />
          </svg>
        </summary>
        <menu class="absolute bg-white w-40 shadow drop-shadow-sm rounded-md overflow-hidden mt-2">
          <form action="/lists/<%= it.list.id %>" method="post">
            <input type="hidden" name="board_id" value="<%= it.board.id %>" />
            <button
              name="_action"
              value="delete"
              class="w-full text-left block p-2 text-red-500 hover:bg-red-100 duration-200"
            >
              Delete
            </button>
          </form>
        </menu>
      </details>
    </div>
    <% if (it.list.items.length) { %>
    <ul class="space-y-4 mb-4">
      <% it.list.items.forEach(function (item) { %> <%~ includeFile('./list-item-card.html',
      Object.assign(it, { item })) %> <% }) %>
    </ul>
    <% } %>
    <form action="/list-items" method="post">
      <input type="hidden" name="order" value="0" />
      <input type="hidden" name="board_id" value="<%= it.board.id %>" />
      <input type="hidden" name="list_id" value="<%= it.list.id %>" />
      <input
        type="text"
        name="title"
        class="input !p-2 !bg-white"
        placeholder="Title e.g. Write some docs"
        required
      />
      <button
        class="outline-none bg-brand-200 text-brand-500 p-3 rounded-lg w-full focus:ring-2 focus:ring-brand-600 ring-offset-2 text-sm active:scale-95 duration-200 flex justify-between mt-2"
      >
        <span> Add a card </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 flex-shrink-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </form>
  </li>
</div>
