<noscript>
  <style>
    .js-disabled {
      display: block;
      position: static;
      opacity: 1;
      width: 100%;
			z-index: 1;
    }
  </style>
</noscript>
<div class="bg-white max-w-3xl w-full p-6 rounded-lg mx-auto space-y-6 js-item-dialog-<%= it.item.id %> <%= it.method !== "dialog" ? "my-16" : ""%>">
	<% if (it.item.cover_photo_url) { %>
		<img src="<%= it.item.cover_photo_url %>" loading="lazy" alt="" class="object-cover max-h-60 w-full rounded-lg js-<%= it.item.id%>-cover-photo">
	<% } %>
	<div class="grid gap-4 grid-cols-12">
		<div class="space-y-6 col-span-12 lg:col-span-9">
			<% if (it.item.labels.length) {%>
			<ul class="flex flex-wrap gap-2">
				<% it.item.labels.forEach(function (label) { %>
				<li
					class="max-w-fit px-3 py-1 rounded-lg text-sm"
					style="background: <%= label.color.hex %>33; color: <%= label.color.hex %>"
				>
					<%= label.title %>
				</li>
				<%})%>
			</ul>
			<% } %>
			<div class="flex text-gray-500 space-x-2">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mt-[2px]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
				</svg>
				<div>
					<h2 class="text-lg text-neutral-900 font-medium"><%= it.item.title %></h2>
					<p class="text-gray-500 text-sm">
						in list: <span class="font-medium text-neutral-900"><%= it.item.list.title %></span>
					</p>
				</div>
			</div>
			<form action="/list-items/<%= it.item.id %>" method="post" class="js-description-form">
				<p class="text-gray-500 flex space-x-2 items-center text-sm">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
					</svg>
					<span>
						Description
					</span>
				</p>
				<input type="hidden" name="list_item_id" value="<%= it.item.id %>">
				<elastic-textarea>
					<textarea required name="description" class="input text-input mt-3 resize-none js-description-input" placeholder="Add description"><%= it.item.description ? it.item.description : "" %></textarea>
				</elastic-textarea>
				<noscript>
					<button class="btn btn-primary mt-2">Save</button>
				</noscript>
			</form>
			<div>
				<form class="flex items-center space-x-4 js-attachment-form" action="/list-items/<%= it.item.id %>" method="post" enctype="multipart/form-data">
					<p class="text-gray-500 flex space-x-2 items-center text-sm">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
						</svg>
						<span>
							Attachments
						</span>
					</p>
					<div class="flex space-x-2 items-center">
						<input type="hidden" name="board_id" value="<%= it.board.id %>">
						<input type="hidden" name="list_item_id" value="<%= it.item.id %>">
						<input type="file" name="attachments" class="file-input js-disabled peer js-attachment-input" id="list-item-cover-<%= it.item.id %>" multiple required>
						<label for="list-item-cover-<%= it.item.id %>" class="file-input-label !px-6 text-sm">
							Add
						</label>
						<noscript>
							<button class="btn btn-primary" name="_action" value="attach">Upload</button>
						</noscript>
					</div>
				</form>
				<ul class="space-y-8 js-attachment-list">
					<% it.item.attachments.forEach(function (attachment) { %>
						<%~ includeFile('../partials/attachment.html', Object.assign(it, { attachment })) %>
					<% }) %>
				</ul>
			</div>
			<div class="space-y-8">
				<form action="/comments" method="post" class="js-comment-form">
					<input type="hidden" name="list_item_id" value="<%= it.item.id %>">
					<input type="hidden" name="board_id" value="<%= it.board.id %>">
					<elastic-textarea>
						<textarea name="content" class="input text-input resize-none" placeholder="Add comment" required></textarea>
					</elastic-textarea>
					<button class="btn btn-primary mt-2">Comment</button>
				</form>
				<ul class="space-y-4">
					<% it.item.comments.forEach(function (comment) { %>
						<%~ includeFile('../partials/comment.html', Object.assign(it, { comment })) %>	
					<% }) %>
				</ul>
			</div>
		</div>
		<div class="col-span-12 space-y-6 lg:col-span-3">
			<div class="space-y-3">
				<div class="flex items-center space-x-4">
					<p class="text-gray-500 flex space-x-2 items-center text-sm">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 10h16M4 14h16M4 18h16" />
						</svg>
						<span>
							Actions
						</span>
					</p>
				</div>
				<form action="/list-items/<%= it.item.id %>" method="post" enctype="multipart/form-data" class="js-cover-form">
        	<input id="<%= it.item.id %>" type="file" class="file-input js-cover-upload js-disabled mb-2 peer" accept="image/*" name="cover" required>
					<input type="hidden" name="id" value="<%= it.item.id %>">
      		<label for="<%= it.item.id %>" class="file-input-label w-full items-center space-x-2 !px-6 text-sm">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
						</svg>
						<span>
							Cover
						</span>
					</label>
					<noscript>
						<button class="btn btn-primary w-full mt-2" value="attach_item_cover" name="_action">Upload</button>
					</noscript>
				</form>
				<details class="relative">
					<summary class="btn btn-secondary space-x-2 flex text-gray-500 w-full">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 h-5" fill="currentColor">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/>
						</svg>
						<span>
							Labels
						</span>
					</summary>
					<div class="absolute w-72 right-full mr-4 -bottom-12 top-0">
						<%~ includeFile('../partials/label-picker.html', Object.assign(it, { method: "dialog" })) %>
					</div>
				</details>
			</div>
			<div class="space-y-3">
				<div class="flex items-center space-x-4">
					<p class="text-gray-500 flex space-x-2 items-center text-sm">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
						</svg>
						<span>
							Members
						</span>
					</p>
				</div>
				<% if (it.item.members.length) { %>
					<ul class="flex flex-col space-y-3">
						<% it.item.members.forEach(function (member) {%>
							<li
								class="flex space-x-2 items-center text-sm"
							>
								<span class="bg-gray-400 text-white rounded-xl overflow-hidden font-medium relative flex w-10 h-10  items-center justify-center text-lg cursor-default flex-shrink-0">
									<% if (member.profile_photo_url) {%>
									<img
										src="<%= member.profile_photo_url %>"
										alt="<%= member.name %>"
										class="flex-shring-0 max-w-full object-cover absolute"
									/>
									<% } %> <%= it.initials(member.name) %>
								</span>
								<span><%= member.name %></span>
							</li>
							<% }) %>
					</ul>
				<% } %>
				<details class="relative">
					<summary class="btn btn-secondary flex justify-between w-full !p-3">
						<span> Assign member </span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5 flex-shrink-0"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
						</svg>
					</summary>
					<div class="absolute w-72 right-full mr-4 -bottom-12 top-0">
						<%~ includeFile('../partials/member-picker.html', it) %>
					</div>
				</details>
			</div>
		</div>
	</div>
</div>

<% if(it.method !== "dialog") { %>
	<script defer async type="module" src="/public/js/list-item.js"></script>
	<script defer async type="module" src="/public/js/elastic-textarea.js"></script>
<% } %>