<div
  class="w-full flex-shrink-0 basis-64 rounded-lg border-dashed border-brand-500 js-list-container"
>
  <li
    class="block rounded-lg js-list-card bg-slate-50 p-4 -m-4"
    draggable="true"
    data-lid="<%= it.list.id %>"
    data-pos="<%= it.list.pos %>"
    data-board_id="<%= it.list.board_id %>"
  >
    <div class="flex justify-between mb-4">
      <span> <%= it.list.title %> </span>
      <details class="relative">
        <summary class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            />
          </svg>
        </summary>
        <menu class="absolute bg-white w-40 shadow drop-shadow-sm rounded-md mt-2 right-0">
          <noscript>
            <details class="group relative">
              <summary class="flex justify-between p-2 text-inherit hover:bg-gray-100 duration-200">
                <span>Move to</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4 group-open:rotate-90 transition-transform duration-200"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
                </svg>
              </summary>
              <ul
                class="absolute right-0 top-0 bg-white w-40 shadow drop-shadow-sm rounded-tr-md rounded-br-md transform translate-x-full"
              >
                <% it.candidates.forEach(function (candidate) {%>
                <li>
                  <form action="/lists/<%= it.list.id %>" method="post">
                    <input type="hidden" name="board_id" value="<%= it.list.board_id %>" />
                    <input type="hidden" name="pos" value="<%= candidate.pos %>" />
                    <button class="p-2"><%= candidate.title %></button>
                  </form>
                </li>
                <% })%>
              </ul>
            </details>
          </noscript>
          <form action="/lists/<%= it.list.id %>" method="post">
            <input type="hidden" name="board_id" value="<%= it.board.id %>" />
            <button
              name="_action"
              value="delete"
              class="w-full text-left block p-2 text-red-500 hover:bg-red-100 duration-200"
            >
              Delete
            </button>
          </form>
        </menu>
      </details>
    </div>
    <% if (it.list.items.length) { %>
    <ul class="space-y-4 mb-4">
      <% it.list.items.forEach(function (item) { %> <%~ includeFile('./list-item-card.html',
      Object.assign(it, { item })) %> <% }) %>
    </ul>
    <% } %>
    <form action="/list-items" method="post">
      <input
        type="hidden"
        name="pos"
        value="<%= it.list.items[it.list.items.length - 1]?.pos + 1 || 1 %>"
      />
      <input type="hidden" name="board_id" value="<%= it.board.id %>" />
      <input type="hidden" name="list_id" value="<%= it.list.id %>" />
      <input
        type="text"
        name="title"
        class="input !p-2 !bg-white"
        placeholder="Title e.g. Write some docs"
        required
      />
      <button
        class="outline-none bg-brand-200 text-brand-500 p-3 rounded-lg w-full focus:ring-2 focus:ring-brand-600 ring-offset-2 text-sm active:scale-95 duration-200 flex justify-between mt-2"
      >
        <span> Add a card </span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 flex-shrink-0"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
        </svg>
      </button>
    </form>
  </li>
</div>
