@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/public/fonts/Roboto-Regular.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/public/fonts/Roboto-Bold.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/public/fonts/Roboto-Medium.ttf");
    font-display: swap;
  }
}

html,
body {
  height: 100%;
}

button:disabled,
fieldset:disabled {
  @apply pointer-events-none opacity-70;
}

.input {
  @apply w-full outline-none border-none bg-brand-50 p-3 rounded-md focus:bg-transparent focus:ring-2 focus:ring-brand-100 transition-colors duration-200 placeholder-gray-500;
}

.btn-primary {
  @apply py-3 px-6 bg-brand-500 flex space-x-2 justify-center items-center text-white focus:ring-2 focus:ring-brand-100 rounded-lg font-bold text-sm hover:bg-brand-600 transition-transform duration-200 active:scale-95;
}

.btn-secondary {
  @apply py-3 px-6 rounded-md flex space-x-2 justify-center items-center focus:ring-2 focus:ring-brand-100 duration-200 bg-brand-50 hover:bg-brand-100 active:scale-95;
}

.btn-text {
  @apply py-3 px-6 rounded-md flex space-x-2 justify-center items-center focus:ring-2 focus:ring-brand-100 duration-200 active:scale-95 active:bg-brand-100;
}

a {
  @apply text-brand-500;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}
