@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/public/fonts/Roboto-Regular.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/public/fonts/Roboto-Medium.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/public/fonts/Roboto-Bold.ttf");
    font-display: swap;
  }
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

button:disabled,
fieldset:disabled {
  @apply pointer-events-none opacity-70;
}

a {
  @apply text-brand-500;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}

[draggable="true"] {
  @apply cursor-grab;
}

.btn {
  @apply outline-none py-3 px-6 focus:ring-2 ring-offset-2 rounded-lg text-sm transition-transform duration-200 active:scale-95;
}

.btn-primary {
  @apply bg-brand-500 flex space-x-2 justify-center items-center text-white focus:ring-brand-500 text-sm hover:bg-brand-600;
}

.btn-secondary {
  @apply focus:ring-brand-400 ring-offset-brand-300 bg-brand-50 hover:bg-brand-100 text-neutral-900;
}

.btn-text {
  @apply focus:ring-brand-400 ring-offset-brand-300 active:bg-brand-100;
}

.btn-danger {
  @apply focus:ring-red-400 ring-offset-red-300 bg-red-50 hover:bg-red-100;
}

.btn-danger-text {
  @apply focus:ring-red-400 ring-offset-red-300 active:bg-red-100;
}

.input {
  @apply w-full outline-none border-none bg-brand-50 p-3 rounded-lg focus:ring-2 focus:ring-brand-400 ring-offset-2 ring-offset-brand-300 transition-colors duration-200 placeholder-gray-500;
}

.text-input {
  @apply focus:bg-transparent;
}

.file-input {
  @apply file:hidden text-gray-500 absolute opacity-0 -z-10 w-0 outline-none;
}

.file-input-label {
  @apply inline-flex focus:ring-brand-400 focus:ring-2 focus:ring-offset-brand-300 peer-focus:ring-2 peer-focus:ring-brand-400 peer-focus:ring-offset-brand-300 ring-offset-2 bg-brand-50 rounded-lg cursor-pointer p-3 duration-200 hover:bg-brand-100 active:scale-95 active:ring-brand-400;
}

.checkbox-icon path {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  transition: stroke-dashoffset 150ms ease-in-out;
}

.checkbox-input:checked ~ .checkbox-icon path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 150ms ease-in-out;
}


.toast-group {
  position: fixed;
  z-index: 1;
  inset-block-end: 0;
  inset-inline: 0;
  padding-block-end: 5vh;
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;
}

.toast-item {
  @apply p-3 rounded-lg flex items-center space-x-2;
  max-inline-size: min(50ch, 90vw);
  will-change: transform;
  animation: fade-in 0.3s ease, slide-in 0.3s ease, fade-out 0.3s ease 3s;
}

.toast-item-err {
  @apply bg-red-50 text-red-500;
}

.toast-item-info {
  @apply bg-amber-100 text-neutral-900;
}

.toast-item-success {
  @apply bg-emerald-50 text-emerald-500;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(5vh);
  }
}

@keyframes checkbox-reveal {
  to {
    stroke-dashoffset: 0;
  }
}
