<li class="space-y-2 js-comment-item">
  <div class="flex items-start justify-between">
    <div class="flex space-x-4">
      <img
        src="https://i.pravatar.cc/300"
        alt=""
        class="flex-shring-0 w-12 h-12 object-cover rounded-lg"
      />
      <div class="flex flex-col">
        <span class="font-medium"><%= it.comment.user.name %></span>
        <span class="text-gray-500 text-sm"><%= it.formatter.format(it.comment.created_at) %></span>
      </div>
    </div>
    <form action="/comments/<%= it.comment.id %>" method="post" class="js-comment-delete-form">
      <input type="hidden" name="list_item_id" value="<%= it.comment.list_item_id %>" />
      <input type="hidden" name="comment_id" value="<%= it.comment.id %>" />
      <button class="btn btn-danger-text" name="_action" value="delete">Delete</button>
    </form>
  </div>
  <form action="/comments/<%= it.comment.id %>" method="post">
    <elastic-textarea>
      <textarea
        name="content"
        class="w-full outline-none focus:ring-2 ring-offset-2 rounded-md p-1 -m-1 focus:ring-brand-400 focus:ring-offset-brand-300"
        required
      >
<%= it.comment.content %></textarea
      >
    </elastic-textarea>
    <input type="hidden" name="list_item_id" value="<%= it.comment.list_item_id %>" />
    <input type="hidden" name="board_id" value="<%= it.comment.board_id %>" />
    <noscript>
      <button class="btn btn-primary mt-2">Save</button>
    </noscript>
  </form>
</li>
