<form action="/list-items/<%= it.item.id %>/members?board_id=<%= it.board.id %>&redirect_uri=<%= it.method !== "dialog" ? "/list-items/" + it.item.id : "/boards/" + it.board.id %>" method="post" class="bg-white shadow drop-shadow-md p-3 rounded-md space-y-4">
	<div>
		<h2 class="font-medium text-lg">Members</h2>
		<p class="text-gray-500">Assign members to this card</p>
	</div>
	<input type="text" class="input text-input js-member-picker-input" placeholder="User name or email" name="q">
	<input type="hidden" name="board_id" value="<%= it.board.id %>">
  <div class="space-y-2 js-member-suggestions"></div>
	<button class="btn btn-primary mx-auto w-full">Assign</button>
</form>