<div class="bg-white shadow-md max-w-sm p-8 rounded-lg mx-auto <%= it.method !== "dialog" ? "mt-24" : ""%>">
  <h2 class="font-bold text-lg">Invite to Board</h2>
	<p class="mb-6 text-gray-500">Search users you want to invite to</p>
  <form action="/boards/<%= it.board.id%>/invitations/new" id="new-invitation-form"></form>
  <form action="/invitations" method="post" class="js-invitation-form">
    <input type="hidden" value="<%= it.board.id %>" name="board_id">
    <noscript>
      <style>
        .js-enabled {
          display: none;
        }
      </style>
      <input type="text" name="q" class="input text-input" placeholder="User email or name" required form="new-invitation-form" />
    </noscript>
    <fieldset class="space-y-4">
      <input name="q" type="text" class="input text-input js-enabled js-invitation-input" placeholder="User email or name" />
      <div class="js-invitation-suggestions space-y-2">
        <% it.suggestions?.forEach(function (suggestion) { %>
          <%~ includeFile('partials/invite-suggestion.html', { suggestion }) %>
        <% }) %>
      </div>
      <menu class="flex space-x-2 justify-end">
        <% if (it.method === "dialog") {%>
        <button class="btn btn-text js-invitation-dialog-close" type="button">Cancel</button>
        <% } %>
        <button class="btn btn-primary" type="submit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 flex-shrink-0"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          <span>Invite</span>
        </button>
      </menu>
    </fieldset>
  </form>
</div>

<% if(it.method !== "dialog") { %>
	<script defer async type="module" src="/public/js/invitation.js"></script>
<% } %>