<% layout('./layout.html', {title: "Login"}) %>
<div class="bg-slate-50 min-h-header overflow-y-auto">
  <div class="bg-white shadow-md max-w-sm p-8 space-y-6 rounded-lg mx-auto my-24">
    <h2 class="font-bold text-lg text-center">Login</h2>
    <%~ includeFile('../partials/flash.html', it) %>
    <form
      action="/auth/login?return_to=<%= it.return_to %>"
      method="post"
      class="space-y-6"
      autocomplete="on"
    >
      <% if (it.providers?.PASSWORD?.length) { %>
      <fieldset class="space-y-4">
        <input
          name="email"
          type="email"
          class="input text-input"
          placeholder="jane@gmail.com"
          required
        />
        <input
          name="password"
          type="password"
          class="input text-input"
          placeholder="password"
          required
        />
        <input type="hidden" name="provider_name" value="<%= it.providers?.PASSWORD?.[0].name %>" />
        <button class="btn btn-primary w-full">Login</button>
      </fieldset>
      <span class="block text-center text-gray-400">or</span>
      <% } %> <% if (it.providers?.OAUTH?.length) { %>
      <fieldset class="flex flex-col space-y-2">
        <% it.providers?.OAUTH?.forEach(function (provider) { %>
        <a
          href="<%= provider.oauth_code_url %>?client_id=<%= provider.client_id %>&state=<%= it.oauth_state %>&scope=<%= provider.scope %>&response_type=<%= provider.response_type%>&redirect_uri=<%= provider.redirect_uri%>"
          class="btn btn-secondary flex justify-center space-x-2 items-center"
        >
          <img src="<%= provider.logo_url %>" alt="<%= provider.title %> logo" class="w-5 h-5" />
          <span>Continue with <%= provider.title %></span>
        </a>
        <% }) %>
      </fieldset>
      <% } %>
    </form>

    <% if (it.providers?.PASSWORD?.length) { %>
    <a href="/auth/signup?return_to=<%= it.return_to %>" class="block text-center"
      >Don't have an account?</a
    >
    <% }%>
  </div>
</div>
